<span class="white-text">&copy; 2019 GAME SWITCH</span>
<ul class="ml-auto d-flex">
    <li><a href="#" class=" pl-1 pr-1"><i class="fab fa-lg fa-instagram white-text"></i></a></li>
    <li><a href="#" class=" pl-1 pr-1 ml-2"><i class="fab fa-lg fa-twitter white-text"></i></a></li>
    <li><a href="#" class="pl-1 pr-1 ml-2"><i class="fab fa-lg fa-facebook white-text"></i></a></li>
</ul>