<ul id="rating" class='dropdown-content'>
    <li>
        <a href="#" class="d-flex">
            <span class="blue-grey-text mr-1">1</span>
            <i class="material-icons yellow-text text-darken-4">star</i>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex">
            <span class="blue-grey-text mr-1">2</span>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex">
            <span class="blue-grey-text mr-1">3</span>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex">
            <span class="blue-grey-text mr-1">4</span>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
        </a>
    </li>
    <li>
        <a href="#" class="d-flex">
            <span class="blue-grey-text mr-1">5</span>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
            <i class="material-icons yellow-text text-darken-4">star</i>
        </a>
    </li>
</ul>