<aside id="general-nav" class="col l2 hide-on-med-and-down">
    <div class="collection">
        <a href="/" class="collection-item d-flex align-items-center grey lighten-5 <%= page === 'index' ? 'active' : '' %>">
            <i class="material-icons mr-1 grey-text text-darken-2">home</i>
            <span>Home</span>
        </a>
        <a href="/categories" class="collection-item d-flex align-items-center grey lighten-5 <%= page === 'categories' ? 'active' : '' %>">
            <i class="material-icons mr-1 grey-text text-darken-2">folder</i>
            <span>Categories</span>
        </a>
        <a href="#" class="collection-item d-flex align-items-center grey lighten-5">
            <i class="material-icons mr-1 grey-text text-darken-2">shopping_cart</i>
            <span>Store</span>
        </a>
        <a href="/about" class="collection-item d-flex align-items-center grey lighten-5 <%= page === 'about' ? 'active' : '' %>">
            <i class="material-icons mr-1 grey-text text-darken-2">info</i>
            <span>About</span>
        </a>
        <a href="/contact" class="collection-item d-flex align-items-center grey lighten-5 <%= page === 'contact' ? 'active' : '' %>">
            <i class="material-icons mr-1 grey-text text-darken-2">email</i>
            <span>Contact Us</span>
        </a>
    </div>
</aside>